{% extends 'base.html' %}

{% block title %} About us {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/pages/about/stylesheet.css')}}">
{% endblock %}


{% block content %}
<main class="about-page">
    <h1 class="heading">About us</h1>
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est quibusdam laborum eveniet.
            Similique
            quae
            ad culpa itaque illo qui incidunt, ullam eius, magnam totam, ab rerum nisi. Laudantium, dolores?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est quibusdam laborum eveniet.
            Similique
            quae
            ad culpa itaque illo qui incidunt, ullam eius, magnam totam, ab rerum nisi. Laudantium, dolores?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est quibusdam laborum eveniet.
            Similique
            quae
            ad culpa itaque illo qui incidunt, ullam eius, magnam totam, ab rerum nisi. Laudantium, dolores?
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est quibusdam laborum eveniet.
            Similique
            quae
            ad culpa itaque illo qui incidunt, ullam eius, magnam totam, ab rerum nisi. Laudantium, dolores?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est quibusdam laborum eveniet.
            Similique
            quae
            ad culpa itaque illo qui incidunt, ullam eius, magnam totam, ab rerum nisi. Laudantium, dolores?
        </p>
    </div>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}