{% extends 'base.html' %}

{% block title %} Forgot password {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/pages/account/stylesheet.css')}}">
{% endblock %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for message in messages %}
<div style="margin-top: 80px;padding: 0 40px;">
    <div class="alert alert-{{ message[0] }}" style="color: white;">
        {{ message[1] }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<main class="account-page">
    <div class="account-form">
        <form action="/forgot-password/" id="forgot" method="POST">
            <h1 class="heading">Easy<b class="text-secondary">PDF</b></h1>
            <h3 class="sub-heading">Forgot password</h3>
            <div class="form-group">
                <input type="text" name="email" id="email" placeholder="Enter your email..." class="form-field">
            </div>
            <button type="submit" class="btn bg-secondary bg-secondary-hover text-white" id="btn">Verify</button>
            <p class="text-primary text-center">
                Go back
                <a href="/login" class="text-secondary text-decoration-none font-weight-bold">
                    Login?
                </a>
            </p>
        </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    $(document).on("submit", "#forgot", function (e) {
        e.preventDefault();
        var email = $("#email").val();
        if (email == "" || email == null) {
            alert("Please enter email address...")
            return false;
        } else {
            e.currentTarget.submit();
        }
    });
</script>
{% endblock %}